<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->

<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Dhiaeddine ALIOUI - Ingénieur Cloud & Développeur Python</title>
   <meta name="description" content="Personal Web Page of Dhiaeddine ALIOUI">
   <meta name="author" content="Dhiaeddine ALIOUI">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="static/css/default.css">
   <link rel="stylesheet" href="static/css/layout.css">
   <link rel="stylesheet" href="static/css/media-queries.css">
   <link rel="stylesheet" href="static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
   <script src="static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
   <link rel="shortcut icon" href="static/images/favicon.png">

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Accueil</a></li>
            <li><a class="smoothscroll" href="#about">À propos de moi</a></li>
            <li><a class="smoothscroll" href="#resume">Resumé</a></li>
            <li><a class="smoothscroll" href="#contact">Contactez-moi</a></li>
            <li id="langage-item"><a href="/en">
                  <img src="/static/images/british-flag.png" style="height:20px;width:20px;margin:auto;"></img>
               </a>
            </li>

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Je suis Dhiaeddine ALIOUI.</h1>
            <h3 style="font-size:20px;">Ingénieur Cloud & Développeur Python</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a>
               </li>
               <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic" src="static/images/my-photo.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>À propos de moi</h2>

            <p align="Justify">Ingénieur Cloud et Développeur Python, diplômé de EURECOM (Sophia Antipolis) et de
               l'école supérieure des communications de Tunis (SUP'COM).
               Sérieux, rigoureux et dynamique, je souhaite mettre mes compétences à profit pour soutenir vos équipes.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contactez-moi</h2>
                  <p style="margin:0 0 0 0;">
                     Dhiaeddine ALIOUI<br>
                  </p>
                  <p style="margin:0 0 0 0;line-height:1.3em;">
                     36 Rue Danton<br>
                     92240 Malakoff, France<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                     <u>Tél Fr:</u> +33 760 734 606<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                     <u>E-mail:</u> dhiaeddine.alioui@gmail.com
                  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="static/cv/CV-Dhiaeddine_ALIOUI-Fr.pdf" class="button" download><i
                           class="fa fa-download"></i>Télécharger mon CV</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Expériences</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">
               <div class="twelve columns">
                  <div>
                     <a href="https://www.lvmh.com/" target="_blank">
                        <img class="image-link" style="margin : auto; height:80px;"
                           src="static/images/lvmh.png" title="LVMH Website" />
                     </a>
                     <h3>SFEIR - Moët Hennessy Louis Vuitton</h3>
                  </div>
                  <p class="info">Ingénieur Data<span>&bull;</span>
                     <em class="date">Décembre 2023 - Aujourd'hui</em>
                  </p>
                  <p align="Justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ma mission consiste à développer des modules centrés sur les données, intégrant l'Infrastructure
                     as Code (IaC) en utilisant Terraform.
                     J'utilise également Python pour le développement de code, que je conteneurise avec Docker pour
                     une portabilité optimale. Ces modules sont conçus pour être déployés sur GCP.
                     Je crée et je documente l'architecture de ces modules, assurant une compréhension claire et une
                     maintenance efficace de l'ensemble du système.
                     <br><br> 
                     &nbsp;&nbsp;&nbsp;&nbsp;Les technologies utilisées pour le projet sont : Terraform, GCP, Python, Docker.

                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <div>
                     <a href="https://www.celsiusenergy.com" target="_blank">
                        <img class="image-link" style="margin : auto; height:80px;"
                           src="static/images/celsiusenergy.jpg" title="CelsiusEnergy Website" />
                     </a>
                     <h3>Celsius Energy (Schlumberger)</h3>
                  </div>
                  <p class="info">Ingénieur Cloud<span>&bull;</span>
                     <em class="date">Janvier 2022 - Décembre 2023</em>
                  </p>
                  <p align="Justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le projet vise à surveiller les performances d'installations géothermiques en temps réel, mesurer les gains en énergie et en émissions de CO2, en traitant et affichant les données collectées depuis des automates de contrôle.
                     <br><br>
                     Les tâches principales incluent :
                     <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Création de scripts Python pour automatiser le déploiement des capteurs et réaliser l'audit énergétique.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Programmation des automates de contrôle des installations géothermiques et création des interfaces de supervision GTC.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Développement des modules IotHub en Python qui collectent les données depuis l’automate de contrôle et effectuent des calculs avancés.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Traitement des données collectées avec Spark dans Databricks et stockage dans Azure Storage Account.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Développement du back-end de l'application Web (Dashboard) qui affiche les données traitées en temps réel.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Automatisation du déploiement de l'infrastructure sur Azure en utilisant Terraform.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Documentation des architectures déployées en utilisant des diagrammes et des schémas de visualisation.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Participation rotative en tant que Scrum Master pour animer les cérémonies, affiner le backlog et assurer la communication et la collaboration au sein de l'équipe.</li>
                      </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp;Les technologies utilisées pour le projet sont : Python, Pytest, qualité de code, Pandas, Terraform, CI/CD, Docker, Linux, Databricks, Spark, Azure (IotHub, Function App, Logic App, Service App, Storage Account, Stream Analytics, VNet, APIM), et diagrammes UML.

                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <div>
                     <a href="https://www.cloudeasier.com/?lang=fr" target="_blank">
                        <img class="image-link" style="margin : auto; height:35px;" src="static/images/cloudeasier.png"
                           title="Cloudeasier Website" />
                     </a>
                     <h3>Cloudeasier</h3>
                  </div>
                  <p class="info">Ingénieur Cloud / Python<span>&bull;</span>
                     <em class="date">Août 2020 - Décembre 2021</em>
                  </p>
                  <p align="Justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Développement du "backend" en Python d'une application web de gestion des factures multicloud (AWS, Azure, GCP, Alibaba) hébergée sur AWS. L’application permettra de centraliser et de visualiser les données de facturation des différentes plateformes cloud utilisées par le client, pour une meilleure gestion des coûts et de l'utilisation des ressources.
                     <br><br>
                     Les tâches principales incluent :                   
                     <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Développement des connecteurs d'ingestion des données de facturation depuis les différentes plateformes cloud.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Optimisation des requêtes SQL afin de réduire le temps de réponse du "backend".</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Implémentation des optimisations sur les plateformes cloud du client (FinOps) : redimensionnement des VM et des disques, mutualisation des ASP et archivage des données et des sauvegardes VM.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Création de scripts Python pour l'extraction des métadonnées des ressources déployées sur le cloud.</li>
                      </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp;Les technologies utilisées pour le projet sont:  Python, Pytest, Pandas, ORM (Peewee), CI/CD, PostgreSQL, Terraform, AWS (SNS/SQS, Lambda Function, EC2, Fargate, CloudWatch), Azure (Storage Account, ASP, Azure VM, Function App, Service App), GCP (App Engine, Pub/Sub, Compute Engine).
                  </p>
                     
               </div>
            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="https://www.slb.com/" target="_blank">
                        <img class="image-link" style="margin : auto; height:35px;"
                           src="static/images/schlumberger-logo.png" title="Schlumberger Website" />
                     </a>
                     <h3>Schlumberger / Slb</h3>
                  </div>
                  <p class="info">Stage de fin d'Etudes - Développeur Python<span>&bull;</span> <em class="date">Mars 2020 - Août 2020</em>
                  </p>

                  <p align="Justify">
                     &nbsp;&nbsp;&nbsp;&nbsp;Création d'un simulateur d'un système d'acquisition de données sismiques en utilisant une architecture micro-services afin d'étudier l'évolutivité et les performances d'une telle architecture par rapport à l'architecture monolithique déjà utilisée.<br>
                     &nbsp;&nbsp;&nbsp;&nbsp;Le simulateur contient des micro-services de collecte et de traitement de données, un équilibreur de charge, une base de données, des API REST et un serveur web.
                     <br><br>
                     Les étapes du projet  :
                     <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Installation d'un cluster de calcul composé de 13 cartes Raspberry Pi 4 et préparation de l'environnement, y compris la configuration réseau et la configuration de stockage NFS.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Simulation du calcul de traitement des données sismiques sur les nœuds de calcul.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Implémentation d'un équilibreur de charge pour dispatcher les tâches sur les nœuds de calcul.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Création d'un serveur web permettant de lancer les tâches de calcul, de visualiser leur avancement et de surveiller les performances de chaque nœud de calcul.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Création d'une base de données pour stocker les données liées à l'avancement de chaque tâche et les données de surveillance de chaque nœud de calcul.</li>
                      </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp; Les technologies utilisées pour le projet sont : Python, Nginx, Flask, Shell, PostgreSQL, Google Protobuf, HTML, CSS, JavaScript, NFS et micro-services.
                 
                  </p>

               </div>

            </div> <!-- item end -->
         </div> <!-- main-col end -->

      </div> <!-- End Work -->

      <!-- Education ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Formation</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="http://www.eurecom.fr/fr" target="_blank">
                        <img class="image-link" alt="EURECOM logo" style="margin : auto; height:50px;"
                           src="static/images/eurecom-logo.png" title="EURECOM Website" />
                     </a>
                     <h3>EURECOM <span>&bull;</span> <em style="vertical-align:top;">filiale de l'Institut
                           Mines-Télécom</em></h3>
                  </div>

                  <p class="info">Master en Internet des Objets (IoT). <span>&bull;</span> <em class="date">Septembre
                        2018 - Septembre 2020</em></p>

                  <p>
                     Études: IoT, Clouds, Machine Learning, Systèmes d’exploitations.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="https://supcom.tn/" target="_blank">
                        <img class="image-link" style="margin : auto; height:40px;" src="static/images/supcom.png"
                           title="SUPCOM Website" />
                     </a>
                     <h3>École supérieure des communications de Tunis</h3>
                  </div>

                  <p class="info">Diplôme National d'ingénieur en Télécommunications <span>&bull;</span> <em
                        class="date">Septembre 2016 - Septembre 2018</em></p>
                  <p>
                     Cycle d’ingénieur en technologies de l’information, double diplôme avec EURECOM.
                     <br>Études: Télécommunications, Informatique, Réseaux, Systèmes embarqués.

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="https://ipeiem.rnu.tn" target="_blank">
                        <img class="image-link" style="margin : auto; height:50px;" src="static/images/ipeiem.png"
                           title="IPEIEM Website" />
                     </a>
                     <h3>Institut préparatoire aux études d’ingénieurs El Manar</h3>
                  </div>

                  <p class="info">Diplôme des Etudes Universitaires de Premier Cycle<span>&bull;</span> <em
                        class="date">Septembre 2014 - Septembre 2016</em></p>

                  <p>
                     Spécialité : Technologie
                  </p>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Education -->

      <!-- Projects
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Projets Personnels</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Convertisseur SVG vers GCODE</h3>

                  <p align="justify">
                     &nbsp;&nbsp;&nbsp;&nbsp;Développement et déploiement d’une application Python pour la conversion des images vectorielles en code GCODE exécutable sur des imprimantes 3D. En utilisant un porte-stylo, l'imprimante 3D est capable de dessiner l'image convertie.
                     <br><br>
                     Les tâches principales incluent :
                     <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Création d'un module Python pour convertir des images SVG en code GCODE.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Développement d'une interface utilisateur Web permettant d'uploader les images SVG, de modifier les différents paramètres du convertisseur et de lancer la conversion.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Utilisation des services Azure pour héberger l'application sur le cloud en utilisant une architecture sans serveur.</li>
                      </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp; Les technologies utilisées pour le projet sont : Azure (App Service, APIM, Function App, Vnet, Storage Account), Python, HTML, CSS, Vanilla JavaScript.
                     
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Projects -->


      <!-- Certifications
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png"
                        title="Google Cloud" />
                     <h3>Networking in Google Cloud</h3>
                  </div>

                  <a href="https://coursera.org/share/ed4f6f9b898e277ff8126c865d54f200" target="_blank">
                     <u>
                        <p class="info">Certificat de spécialisation</p>
                     </u>
                  </a>
                  <h4 style="margin-left:10px;">Les cours de spécialisation</h4>
                  <ul style="margin-left:30px;margin-bottom:50px;">
                     <li>Google Cloud Platform Fundamentals: Core Infrastructure <span>&bull;</span>
                        <a href="https://coursera.org/share/2e8d7f452536e47d53aa02da388aa253" target="_blank">
                           <u>Lien</u>
                        </a>
                     </li>
                     <li>Networking in Google Cloud: Defining and Implementing Networks <span>&bull;</span>
                        <a href="https://coursera.org/share/f5ea80028fbbf2aa6dbd5ae7c4aab479" target="_blank">
                           <u>Lien</u>
                        </a>
                     </li>
                     <li>Networking in Google Cloud: Hybrid Connectivity and Network Management <span>&bull; </span>
                        <a href="https://coursera.org/share/8e6c7109b94081909400680deaf77d6b" target="_blank">
                           <u>Lien</u>
                        </a>
                     </li>

                  </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item" style="padding-bottom: 20px;">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png"
                        title="Google Cloud" />
                     <h3>Industrial IoT on Google Cloud Platform</h3>
                  </div>

                  <a href="https://coursera.org/share/d149dc281b111ef3f97059a3590b7ef0" target="_blank">
                     <u>
                        <p class="info">Certificat</p>
                     </u>
                  </a>
                  <p style="margin-left:10px;margin-bottom:5px;">Les services GCP utilisés :</p>
                  <ul style="margin-left:30px;margin-bottom:50px;">
                     <li><span>&bull;</span> Cloud IoT Core</li>
                     <li><span>&bull;</span> Cloud Pub/Sub</li>
                     <li><span>&bull;</span> Google Cloud Storage</li>
                     <li><span>&bull;</span> BigQuery</li>
                     <li><span>&bull;</span> Data Prep</li>
                     <li><span>&bull;</span> Data Studio</li>
                  </ul>


               </div>

            </div> <!-- item end -->

            <div class="row item" style="padding-bottom: 20px;">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/cisco-logo.png" title="CISCO" />
                     <h3>CCNA 1 & CCNA 2</h3>
                  </div>

                  <ul style="margin-left:30px;">
                     <li>CCNA R&S: Introduction to Networks</li>
                     <li>CCNA R&S: Routing and Switching Essentials</li>
                  </ul>

               </div>

            </div> <!-- item end -->


            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/ets-logo.png" title="ETS" />
                     <h3>TOEIC</h3>
                  </div>

                  <ul style="margin-left:30px;">
                     <li>Score : 870/990</li>
                  </ul>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Certifications -->




   </section> <!-- Resume Section End-->

   <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row section-head">

         <div class="two columns header-col">

            <h1><span>Contactez-moi.</span></h1>

         </div>

         <div class="ten columns">

            <h4>Coordonnées</h4>
            <p style="margin:0 0 0 0;">
               Dhiaeddine ALIOUI<br>
            </p>
            <p style="margin:0 0 0 0;line-height:1.3em;">
               36 Rue Danton<br>
               92240 Malakoff, France<br>
            </p>
            <p style="margin:0 0 0 0;">
               <u>Tél Fr:</u> +33 760 734 606<br>
            </p>
            <p style="margin:0 0 0 0;">
               <u>E-mail:</u> <a href="mailto:dhiaeddine.alioui@gmail.com">dhiaeddine.alioui@gmail.com</a>
            </p>

         </div>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a>
               </li>
               <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
         </div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="static/js/jquery.flexslider.js"></script>
   <script src="static/js/waypoints.js"></script>
   <script src="static/js/jquery.fittext.js"></script>
   <script src="static/js/magnific-popup.js"></script>
   <script src="static/js/init.js"></script>

</body>

</html>