<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="fr">
<!--<![endif]-->

<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
   <title>Dhiaeddine ALIOUI - Cloud Engineer & Python Developer</title>
   <meta name="description" content="Personal Web Page of Dhiaeddine ALIOUI">
   <meta name="author" content="Dhiaeddine ALIOUI">

   <!-- Mobile Specific Metas
   ================================================== -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="static/css/default.css">
   <link rel="stylesheet" href="static/css/layout.css">
   <link rel="stylesheet" href="static/css/media-queries.css">
   <link rel="stylesheet" href="static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
   <script src="static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
   <link rel="shortcut icon" href="static/images/favicon.png">

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About me</a></li>
            <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#contact">Contact me</a></li>
            <li id="langage-item"><a href="/fr">
                  <img src="/static/images/french-flag.png" style="height:20px;width:20px;margin:auto;"></img>
               </a>
            </li>

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I am Dhiaeddine ALIOUI.</h1>
            <h3 style="font-size:20px;">Cloud Engineer & Python Developer</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a>
               </li>
               <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic" src="static/images/my-photo.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About me</h2>

            <p align="Justify">A Cloud Engineer & Python Developer, graduate from EURECOM (Sophia Antipolis) and the
               Higher School of Communication of Tunis (SUP'COM).
               Serious, rigorous and dynamic, I want to use my skills to support your teams.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact me</h2>
                  <p style="margin:0 0 0 0;">
                     Dhiaeddine ALIOUI<br>
                  </p>
                  <p style="margin:0 0 0 0;line-height:1.3em;">
                     36 Rue Danton<br>
                     92240 Malakoff, France<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                     <u>Tel Fr:</u> +33 760 734 606<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                     <u>E-mail:</u> dhiaeddine.alioui@gmail.com
                  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="static/cv/CV-Dhiaeddine_ALIOUI-Fr.pdf" class="button" download><i
                           class="fa fa-download"></i>Download my CV</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Experience</span></h1>
         </div>

         <div class="row item">
            <div class="twelve columns">
               <div>
                  <a href="https://www.transavia.com/accueil/en-uk" target="_blank">
                     <img class="image-link" style="margin : auto; height:80px;"
                        src="static/images/transavia.png" title="Transavia Website" />
                  </a>
                  <h3>Transavia</h3>
               </div>
               <p class="info">Data Engineer<span>&bull;</span>
                  <em class="date">July 2024 - Present</em>
            </div>
         </div> <!-- item end -->

         <div class="nine columns main-col">
            <div class="row item">
               <div class="twelve columns">
                  <div>
                     <a href="https://www.lvmh.com/" target="_blank">
                        <img class="image-link" style="margin : auto; height:80px;"
                           src="static/images/lvmh.png" title="LVMH Website" />
                     </a>
                     <h3>SFEIR - Moët Hennessy Louis Vuitton</h3>
                  </div>
                  <p class="info">Data Engineer<span>&bull;</span>
                     <em class="date">December 2023 - June 2024</em>
                  </p>
                  <p align="Justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My mission involves developing data-centric modules that integrate Infrastructure as Code
                     (IaC) using Terraform. I also use Python for code development, which I containerize with Docker for
                     optimal portability. These modules are designed to be deployed on GCP. I create and document
                     the architecture of these modules, ensuring clear understanding and efficient maintenance.
                     <br><br> 
                     &nbsp;&nbsp;&nbsp;&nbsp;The technologies used for the project are: Terraform, GCP, Python, Go, Docker.

                  </p>
               </div>
            </div> <!-- item end -->
   
            <div class="row item">
               <div class="twelve columns">
                  <div>
                     <a href="https://www.celsiusenergy.com/en/" target="_blank">
                        <img class="image-link" style="margin : auto; height:80px;"
                           src="static/images/celsiusenergy.jpg" title="CelsiusEnergy Website" />
                     </a>
                     <h3>Celsius Energy (Schlumberger)</h3>
                  </div>

                  <p class="info">Cloud Engineer<span>&bull;</span>
                     <em class="date">January 2022 - December 2023</em>
                  </p>
                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The project aims to monitor the performance of geothermal installations in real-time, measure energy and CO2 emissions savings by processing and displaying data collected from control automation.
                     <br><br>
                     The main tasks include:
                     <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Development of Python scripts to automate sensor deployment and perform energy audits.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Programming of control automation for geothermal installations and creation of SCADA interfaces.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Development of IotHub modules in Python that collect data from the control automation and perform advanced calculations.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Processing of collected data using Spark in Databricks and storing it in Azure Storage Account.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Development of the back-end of the web application (Dashboard) that displays the processed data in real-time.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Automation of infrastructure deployment on Azure using Terraform.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Documentation of deployed architectures using diagrams and visualization schemes.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Rotational participation as Scrum Master to facilitate ceremonies, refine the backlog, and ensure communication and collaboration within the team.</li>
                      </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp;The technologies used for the project include: Python, Pytest, code quality, Pandas, Terraform, CI/CD, Docker, Linux, Databricks, Spark, Azure (IotHub, Function App, Logic App, Service App, Storage Account, Stream Analytics, VNet, APIM), and UML diagrams.
                  </p>
               </div>
            </div> <!-- item end -->

            <div class="row item">
               <div class="twelve columns">
                  <div>
                     <a href="https://www.cloudeasier.com/?lang=en" target="_blank">
                        <img class="image-link" style="margin : auto; height:35px;" src="static/images/cloudeasier.png"
                           title="Cloudeasier Website" />
                     </a>
                     <h3>Cloudeasier</h3>
                  </div>
                  <p class="info">Cloud Engineer / Python Developer<span>&bull;</span>
                     <em class="date">August 2020 - December 2021</em>
                  </p>
                  <p align="Justify">
                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Development of the Python backend for a web application for managing multicloud invoices (AWS, Azure, GCP, Alibaba) hosted on AWS. The application allows centralizing and visualizing the billing data from different cloud platforms used by the client, for better cost management and resource utilization.
                     <br><br>
                     The main tasks include:
                     <ul>
                         <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Creation of data ingestion connectors for billing data from different cloud platforms.</li>
                         <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Optimization of SQL queries to reduce backend response time.</li>
                         <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Implementation of optimizations on the client's cloud platforms (FinOps): VM and disk resizing, ASP consolidation, archiving of data and VM backups.</li>
                         <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Development of Python scripts for extracting metadata from cloud-deployed resources.</li>
                     </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp;The technologies used for the project include: Python, Pytest, Pandas, ORM (Peewee), CI/CD, PostgreSQL, Terraform, AWS (SNS/SQS, Lambda Function, EC2, Fargate, CloudWatch), Azure (Storage Account, ASP, Azure VM, Function App, Service App), GCP (App Engine, Pub/Sub, Compute Engine).
                 </p>                 
            </div> <!-- item end -->
            
            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="https://www.slb.com/en/" target="_blank">
                        <img class="image-link" style="margin : auto; height:35px;"
                           src="static/images/schlumberger-logo.png" title="Schlumberger Website" />
                     </a>
                     <h3>Schlumberger / Slb</h3>
                  </div>

                  <p class="info">End-of-Studies Internship - Python Developer<span>&bull;</span> <em class="date">March 2020 - August 2020</em>
                  </p>
                  <p align="justify">
                  &nbsp;&nbsp;&nbsp;&nbsp;Creation of a simulator for a seismic data acquisition system using a microservices architecture to study the scalability and performance of such an architecture compared to the monolithic architecture already in use.<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;The simulator contains data collection and processing microservices, a load balancer, a database, REST APIs, and a web server.
                  <br><br>
                  The main tasks include:
                  <ul>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Installation of a computing cluster composed of 13 Raspberry Pi 4 boards and preparation of the environment, including network configuration and NFS storage configuration.</li>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Simulation of seismic data processing computation on the computing nodes.</li>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Implementation of a load balancer to dispatch tasks to the computing nodes.</li>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Creation of a web server to launch computation tasks, visualize their progress, and monitor the performance of each computing node.</li>
                     <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Creation of a database to store data related to the progress of each task and monitoring data of each computing node.</li>
                   </ul>
                  &nbsp;&nbsp;&nbsp;&nbsp;The technologies used for the project are: Python, Nginx, Flask, Shell, PostgreSQL, Google Protobuf, HTML, CSS, JavaScript, NFS, and microservices.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->

      <!-- Education ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="http://www.eurecom.fr/fr" target="_blank">
                        <img class="image-link" alt="EURECOM logo" style="margin : auto; height:50px;"
                           src="static/images/eurecom-logo.png" title="EURECOM Website" />
                     </a>
                     <h3>EURECOM <span>&bull;</span> <em style="vertical-align:top;">subsidiary of Institut
                           Mines-Télécom</em></h3>
                  </div>

                  <p class="info">Master in Internet of Things (IoT). <span>&bull;</span> <em class="date">September
                        2018 - September 2020</em></p>

                  <p>
                     Studies: IoT, Clouds, Machine Learning, Operating systems.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="https://supcom.tn" target="_blank">
                        <img class="image-link" style="margin : auto; height:40px;" src="static/images/supcom.png"
                           title="SUPCOM Website" />
                     </a>
                     <h3>Higher School of Communications of Tunis</h3>
                  </div>

                  <p class="info">National Diploma in Telecommunication Engineering<span>&bull;</span> <em
                        class="date">September 2016 - September 2018</em></p>
                  <p>Engineering cycle in information technology, double degree with EURECOM.
                     <br>Studies: Telecommunications, Computer science, Networks, Embedded systems.

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <a href="https://ipeiem.rnu.tn" target="_blank">
                        <img class="image-link" style="margin : auto; height:50px;" src="static/images/ipeiem.png"
                           title="IPEIEM Website" />
                     </a>
                     <h3>Preparatory Institute for Engineering Studies El Manar </h3>
                  </div>

                  <p class="info">Undergraduate University Studies Diploma<span>&bull;</span> <em class="date">September
                        2014 - September 2016</em></p>

                  <p>Specialty: Technology</p>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Education -->
      <!-- Projects
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Personal Projects</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>SVG to GCODE Converter</h3>

                  <p align="justify">
                     &nbsp;&nbsp;&nbsp;&nbsp;Development and deployment of a Python application for converting vector images into GCODE that can be executed on 3D printers. Using a pen holder, the 3D printer is capable of drawing the converted image.
                     <br><br>
                     The main tasks include:
                     <ul>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Creating a Python module to convert SVG images into GCODE.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Developing a web-based user interface for uploading SVG images, modifying various converter parameters, and launching the conversion.</li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull; Using Azure services to host the application on the cloud using a serverless architecture.</li>
                     </ul>
                     &nbsp;&nbsp;&nbsp;&nbsp;The technologies used for the project are : Azure (App Service, APIM, Function App, Vnet, Storage Account), Python, HTML, CSS, Vanilla JavaScript.
                     </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Projects -->


      <!-- Certifications
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png"
                        title="Google Cloud" />
                     <h3>Networking in Google Cloud</h3>
                  </div>

                  <a href="https://coursera.org/share/ed4f6f9b898e277ff8126c865d54f200" target="_blank">
                     <u>
                        <p class="info">Specialization certificate</p>
                     </u>
                  </a>
                  <h4 style="margin-left:10px;">Specialization courses</h4>
                  <ul style="margin-left:30px;margin-bottom:50px;">
                     <li>Google Cloud Platform Fundamentals: Core Infrastructure <span>&bull;</span>
                        <a href="https://coursera.org/share/2e8d7f452536e47d53aa02da388aa253" target="_blank">
                           <u>Link</u>
                        </a>
                     </li>
                     <li>Networking in Google Cloud: Defining and Implementing Networks <span>&bull;</span>
                        <a href="https://coursera.org/share/f5ea80028fbbf2aa6dbd5ae7c4aab479" target="_blank">
                           <u>Link</u>
                        </a>
                     </li>
                     <li>Networking in Google Cloud: Hybrid Connectivity and Network Management <span>&bull; </span>
                        <a href="https://coursera.org/share/8e6c7109b94081909400680deaf77d6b" target="_blank">
                           <u>Link</u>
                        </a>
                     </li>

                  </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item" style="padding-bottom: 20px;">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png"
                        title="Google Cloud" />
                     <h3>Industrial IoT on Google Cloud Platform</h3>
                  </div>

                  <a href="https://coursera.org/share/d149dc281b111ef3f97059a3590b7ef0" target="_blank">
                     <u>
                        <p class="info">Certificate</p>
                     </u>
                  </a>

                  <p style="margin-left:10px;margin-bottom:5px;">Used GCP services :</p>
                  <ul style="margin-left:30px;margin-bottom:50px;">
                     <li><span>&bull;</span> Cloud IoT Core</li>
                     <li><span>&bull;</span> Cloud Pub/Sub</li>
                     <li><span>&bull;</span> Google Cloud Storage</li>
                     <li><span>&bull;</span> BigQuery</li>
                     <li><span>&bull;</span> Data Prep</li>
                     <li><span>&bull;</span> Data Studio</li>
                  </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item" style="padding-bottom: 20px;">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/cisco-logo.png" title="CISCO" />
                     <h3>CCNA 1 & CCNA 2</h3>
                  </div>

                  <ul style="margin-left:30px;">
                     <li>CCNA R&S: Introduction to Networks</li>
                     <li>CCNA R&S: Routing and Switching Essentials</li>
                  </ul>

               </div>

            </div> <!-- item end -->


            <div class="row item">

               <div class="twelve columns">

                  <div>
                     <img style="margin : auto; height:35px;" src="static/images/ets-logo.png" title="ETS" />
                     <h3>TOEIC</h3>
                  </div>

                  <ul style="margin-left:30px;">
                     <li>Score : 870/990</li>
                  </ul>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Certifications -->


   </section> <!-- Resume Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row section-head">

         <div class="two columns header-col">

            <h1><span>Contact me.</span></h1>

         </div>

         <div class="ten columns">

            <h4>Contact information</h4>
            <p style="margin:0 0 0 0;">
               Dhiaeddine ALIOUI<br>
            </p>
            <p style="margin:0 0 0 0;line-height:1.3em;">
               36 Rue Danton<br>
               92240 Malakoff, France<br>
            </p>
            <p style="margin:0 0 0 0;">
               <u>Tel Fr:</u> +33 760 734 606<br>
            </p>
            <p style="margin:0 0 0 0;">
               <u>E-mail:</u> <a href="mailto:dhiaeddine.alioui@gmail.com">dhiaeddine.alioui@gmail.com</a>
            </p>

         </div>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a>
               </li>
               <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
         </div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="static/js/jquery.flexslider.js"></script>
   <script src="static/js/waypoints.js"></script>
   <script src="static/js/jquery.fittext.js"></script>
   <script src="static/js/magnific-popup.js"></script>
   <script src="static/js/init.js"></script>

</body>

</html>