<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="fr"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Dhiaeddine ALIOUI - Telecommunication engineer</title>
	<meta name="description" content="Personal Web Page of Dhiaeddine ALIOUI">
	<meta name="author" content="Dhiaeddine ALIOUI">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="static/css/default.css">
	<link rel="stylesheet" href="static/css/layout.css">
   <link rel="stylesheet" href="static/css/media-queries.css">
   <link rel="stylesheet" href="static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="static/images/favicon.png" >

</head>
<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Accueil</a></li>
            <li><a class="smoothscroll" href="#about">À propos de moi</a></li>
	          <li><a class="smoothscroll" href="#resume">Resumé</a></li>
            <li><a class="smoothscroll" href="#contact">Contactez-moi</a></li>
            <li id="langage-item"><a href="/en">
              <img src="/static/images/british-flag.png"
              style="height:20px;width:20px;margin:auto;"></img>
                 </a>
           </li>

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">Je suis Dhiaeddine ALIOUI.</h1>
            <h3 style="font-size:20px;">Ingénieur en Télécommunications et en Internet des Objets</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="static/images/my-photo.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>À propos de moi</h2>

            <p align="Justify">Bonjour, Je suis Dhiaeddine ALIOUI. Ingénieur en télécommunications et en IOT, diplômé de Eurecom (Sophia Antipolis) et de Sup'Com (Tunis), je suis à la recherche d’un CDI.
Un précédent stage chez Schlumberger m’a permis d’acquérir de solides compétences techniques et de confirmer mon envie de travailler dans l’univers des nouvelles technologies.
Sérieux, rigoureux et dynamique, je souhaite mettre mes compétences à profit pour soutenir vos équipes.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contactez-moi</h2>
                  <p style="margin:0 0 0 0;">
                  Dhiaeddine ALIOUI<br>
                  </p>
                  <p style="margin:0 0 0 0;line-height:1.3em;">
                  12 rue des Frères Caudron<br>
                  78140 Velizy-Villacoublay, France<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                  <u>Tél Fr:</u> +33 760 734 606<br>
                  <u>Tél Tn:</u> +216 26 236 478<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                  <u>E-mail:</u>  dhiaeddine.alioui@gmail.com
                  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="static/cv/CV-Dhiaeddine_ALIOUI-Fr.pdf" class="button" download><i class="fa fa-download"></i>Télécharger mon CV</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Formation</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                <div>
                  <a href="http://www.eurecom.fr/fr" target="_blank">
                  <img class="image-link" alt="EURECOM logo" style="margin : auto; height:50px;" src="static/images/eurecom-logo.png" title="EURECOM Website"/>
                  </a>
                  <h3>EURECOM <span>&bull;</span> <em style="vertical-align:top;">filiale de l'Institut Mines-Télécom</em></h3>
                </div>

                  <p class="info">Master en Internet des Objets (IoT). <span>&bull;</span> <em class="date">Septembre 2018 - Septembre 2020</em></p>

                  <p>
                    Études: IoT, Clouds, Machine Learning, Réseaux mobiles, Systèmes d’exploitations.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                 <div>
                   <a href="http://www.supcom.mincom.tn/Fr/" target="_blank">
                   <img class="image-link" style="margin : auto; height:40px;" src="static/images/supcom.png" title="SUPCOM Website" />
                 </a>
                   <h3>École supérieure des communications de Tunis</h3>
                 </div>

                  <p class="info">Diplôme National d'ingénieur en Télécommunications <span>&bull;</span> <em class="date">Septembre 2016 - Septembre 2018</em></p>
                  <p>
                    Cycle d’ingénieur en technologies de l’information, double diplôme avec EURECOM.
  <br>Études: Télécommunications, Informatique, Réseaux, Systèmes embarqués.

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                 <div>
                   <a href="http://www.ipeiem.rnu.tn/" target="_blank">
                   <img class="image-link" style="margin : auto; height:50px;" src="static/images/ipeiem.png" title="IPEIEM Website" />
                 </a>
                   <h3>Institut préparatoire aux études d’ingénieurs El Manar</h3>
                 </div>

                  <p class="info">Diplôme des Etudes Universitaires de Premier Cycle<span>&bull;</span> <em class="date">Septembre 2014 - Septembre 2016</em></p>

                  <p>
                  Spécialité : Technologie
                  </p>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Expériences</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                 <div>
                   <a href="https://www.slb.com/" target="_blank">
                   <img class="image-link" style="margin : auto; height:35px;" src="static/images/schlumberger-logo.png" title="Schlumberger Website" />
                 </a>
                   <h3>Schlumberger</h3>
                 </div>
                  <p class="info">Stage de fin d'Etudes<span>&bull;</span> <em class="date">Mars 2020 - Août 2020</em></p>

                  <p align="Justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;Créer un simulateur d’un système d’acquisition des données sismiques en utilisant une
                    architecture Micro-services afin d’étudier la évolutivité et les performances d’une telle
                    architecture par rapport l’architecture monolithique utilisée.
                    Le simulateur contient des micro-services de collecte et de traitement des données, un
                    équilibreur de charge, une base des données, des API REST et un serveur web.<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Mots-clés: Python, Nginx, Flask, Shell, PostgreSQL, Google Protobuf, HTML, CSS,
                    JavaScript, NFS, Micro-services, Raspberry Pi 4, surveillance de l'utilisation des ressources.
                  </p>

               </div>

            </div> <!-- item end -->
         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Projects
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Projets</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Développement d'un contrôleur SDN supportant PFCP pour 5G</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">Octobre 2019 - Février 2020</em></p>

                  <p align="justify">
                      &nbsp;&nbsp;&nbsp;&nbsp;Développer un contrôleur SDN avec un Southbound API capable de communiquer avec
                    les éléments du User Plan via le protocole PFCP.<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Mots-clés : Software Defined Networking (SDN), 5G, Southbound API, Python, Flask,
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Service MEC LORA pour IoT</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">Mars - Juin 2019</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Déployer un serveur IoT LORA Open Source en tant que service MEC et créer une API
REST permettant aux applications IoT d'utiliser le service déployé.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Mots-clés : Mobile Edge Computing, LoRa, MQTT, REST API.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Générateur de code automatisé pour Arduino</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">Octobre 2018 - Février 2019</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Adapter un générateur de code Open Source existant appelé «TTool» pour les cartes Arduino.
<br>&nbsp;&nbsp;&nbsp;&nbsp;Mots-clés: TTool, AVATAR, Diagramme d’états-transitions, FreeRTOS, Arduino, Threads.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Projet de cours : Systèmes d’exploitation</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">Octobre 2018 - Février 2019</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Concevoir et programmer un robot joueur au basketball avec Lego-EV3 ( membre d’équipe
vainqueur de la compétition )
<br>&nbsp;&nbsp;&nbsp;&nbsp;Mots-clés: C / C ++, Linux, Compiler, Threads, Conception Mécanique.

                  <br><a href="https://os-bball.herokuapp.com/" target="_blank"><u>Page Web du projet</u></a>
                </p>
               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Projet d’intégration des systèmes télécoms</h3>
                  <p class="info">SUP'COM<span>&bull;</span> <em class="date">Janvier - Juin 2018</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Conception et développement d’une application IoT basée sur les réseaux de capteurs
sans fil pour l’ acquisition et le contrôle des données agro -environnementales.
<br>&nbsp;&nbsp;&nbsp;&nbsp;Mots clés: IoT, C, LINUX, Contiki, Zolertia Z1, réseaux de capteurs.

<br><a href="https://drive.google.com/file/d/1i5zLGI_xI7yDlzLkKyouWe3y-Nx23tp0/view?usp=sharing"  target="_blank"><u>Poster du projet</u></a>

                </p>
               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Projects -->


      <!-- Certifications
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item"  style="padding-bottom: 20px;">

              <div class="twelve columns">

                <div>
                   <img style="margin : auto; height:35px;" src="static/images/colorado-boulder-logo.png" title="Google Cloud" />
                   <h3>Introduction to Embedded Systems Software and Development Environments</h3>
                </div>

                 <a href="https://coursera.org/share/930baa38503b3c76a222dc99f00e5fc0" target="_blank">
                 <u><p class="info">Certificat</p></u>
                 </a>

                 <p style="margin-left:10px;margin-bottom:5px;">Compétences acquises :</p>
                   <ul style="margin-left:30px;margin-bottom:50px;">
                   <li><span>&bull;</span> Création de "Build System" avec Make</li>
                   <li><span>&bull;</span> Programmation c-embarqué</li>
                   </ul>

              </div>

           </div> <!-- item end -->


           <div class="row item"  style="padding-bottom: 20px;">

              <div class="twelve columns">

                <div>
                   <img style="margin : auto; height:35px;" src="static/images/colorado-boulder-logo.png" title="Google Cloud" />
                   <h3>Embedded Software and Hardware Architecture</h3>
                </div>

                 <a href="https://coursera.org/share/3e656c577efe2f0a8dea3687909b9632" target="_blank">
                 <u><p class="info">Certificat</p></u>
                 </a>

                 <p style="margin-left:10px;margin-bottom:5px;">Compétences acquises :</p>
                   <ul style="margin-left:30px;margin-bottom:50px;">
                   <li><span>&bull;</span> Interfaçage des programmes C avec les microcontrôleurs ARM</li>
                   <li><span>&bull;</span> Manipulation de la mémoire</li>
                   <li><span>&bull;</span> Conception de structures de données</li>
                   </ul>

              </div>

           </div> <!-- item end -->




            <div class="row item">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png" title="Google Cloud" />
                    <h3>Networking in Google Cloud</h3>
                 </div>

                  <a href="https://coursera.org/share/ed4f6f9b898e277ff8126c865d54f200" target="_blank">
                  <u><p class="info">Certificat de spécialisation</p></u>
                  </a>
                  <h4 style="margin-left:10px;">Les cours de spécialisation</h4>
                    <ul style="margin-left:30px;margin-bottom:50px;">
                    <li>Google Cloud Platform Fundamentals: Core Infrastructure <span>&bull;</span>
                      <a href="https://coursera.org/share/2e8d7f452536e47d53aa02da388aa253" target="_blank">
                      <u>Lien</u>
                      </a>
                    </li>
                    <li>Networking in Google Cloud: Defining and Implementing Networks <span>&bull;</span>
                      <a href="https://coursera.org/share/f5ea80028fbbf2aa6dbd5ae7c4aab479" target="_blank">
                      <u>Lien</u>
                      </a></li>
                    <li>Networking in Google Cloud: Hybrid Connectivity and Network Management <span>&bull; </span>
                      <a href="https://coursera.org/share/8e6c7109b94081909400680deaf77d6b" target="_blank">
                      <u>Lien</u>
                      </a></li>

                    </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item"  style="padding-bottom: 20px;">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png" title="Google Cloud" />
                    <h3>Industrial IoT on Google Cloud Platform</h3>
                 </div>

                  <a href="https://coursera.org/share/d149dc281b111ef3f97059a3590b7ef0" target="_blank">
                  <u><p class="info">Certificat</p></u>
                  </a>
                  <p style="margin-left:10px;margin-bottom:5px;">Les services GCP utilisés :</p>
                    <ul style="margin-left:30px;margin-bottom:50px;">
                    <li><span>&bull;</span> Cloud IoT Core</li>
                    <li><span>&bull;</span> Cloud Pub/Sub</li>
                    <li><span>&bull;</span> Google Cloud Storage</li>
                    <li><span>&bull;</span> BigQuery</li>
                    <li><span>&bull;</span> Data Prep</li>
                    <li><span>&bull;</span> Data Studio</li>
                    </ul>


               </div>

            </div> <!-- item end -->

            <div class="row item" style="padding-bottom: 20px;">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/cisco-logo.png" title="CISCO" />
                    <h3>CCNA 1 & CCNA 2</h3>
                 </div>

                 <ul style="margin-left:30px;">
                 <li>CCNA R&S: Introduction to Networks</li>
                 <li>CCNA R&S: Routing and Switching Essentials</li>
                 </ul>

               </div>

            </div> <!-- item end -->


            <div class="row item">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/ets-logo.png" title="ETS" />
                    <h3>TOEIC</h3>
                 </div>

                 <ul style="margin-left:30px;">
                 <li>Score : 870/990</li>
                 </ul>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Certifications -->





   <!-- Certifications
   ----------------------------------------------- -->
   <div class="row work">

      <div class="three columns header-col">
         <h1><span>Autoformation</span></h1>
      </div>

      <div class="nine columns main-col">

        <div class="row item">

           <div class="twelve columns">

              <h3>Programmation de la carte de développement MSP432P401R</h3>

              <p align="justify">
                  La carte de développement MSP432P401R intègre un processeur Cortex-M4F.
              </p>

              <img style="margin : auto;" src="static/images/MSP432P401R.jpg" title="MSP432P401R Developement board" />

              <p align="justify" style="margin-bottom:0px;">
                  Compétences maîtrisées :
              </p>
              <ul style="margin-left:30px;margin-bottom:50px;">
              <li><span>&bull;</span> Communication UART, I2C, SPI</li>
              <li><span>&bull;</span> Programmation multi-threaded en utilisant TI-RTOS</li>
              </ul>
           </div>

        </div> <!-- item end -->


                 </div> <!-- main-col end -->

              </div> <!-- End Certifications -->


   </section> <!-- Resume Section End-->

   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Contactez-moi.</span></h1>

            </div>

            <div class="ten columns">

              <h4>Coordonnées</h4>
              <p style="margin:0 0 0 0;">
              Dhiaeddine ALIOUI<br>
              </p>
              <p style="margin:0 0 0 0;line-height:1.3em;">
              12 rue des Frères Caudron<br>
              78140 Velizy-Villacoublay, France<br>
              </p>
              <p style="margin:0 0 0 0;">
              <u>Tél Fr:</u> +33 760 734 606<br>
              <u>Tél Tn:</u> +216 26 236 478<br>
              </p>
              <p style="margin:0 0 0 0;">
              <u>E-mail:</u>  <a href="mailto:dhiaeddine.alioui@gmail.com">dhiaeddine.alioui@gmail.com</a>
              </p>

            </div>

         </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
              <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="static/js/jquery.flexslider.js"></script>
   <script src="static/js/waypoints.js"></script>
   <script src="static/js/jquery.fittext.js"></script>
   <script src="static/js/magnific-popup.js"></script>
   <script src="static/js/init.js"></script>

</body>

</html>
