<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="fr"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Dhiaeddine ALIOUI - Telecommunication engineer</title>
	<meta name="description" content="Personal Web Page of Dhiaeddine ALIOUI">
	<meta name="author" content="Dhiaeddine ALIOUI">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="static/css/default.css">
 	 <link rel="stylesheet" href="static/css/layout.css">
   <link rel="stylesheet" href="static/css/media-queries.css">
   <link rel="stylesheet" href="static/css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="static/js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="static/images/favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About me</a></li>
	          <li><a class="smoothscroll" href="#resume">Resume</a></li>
            <li><a class="smoothscroll" href="#contact">Contact me</a></li>
            <li id="langage-item"><a href="/fr">
              <img src="/static/images/french-flag.png"
              style="height:20px;width:20px;margin:auto;"></img>
                 </a>
           </li>

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I am Dhiaeddine ALIOUI.</h1>
            <h3 style="font-size:20px;">Telecommunications and IoT Engineer</h3>
            <hr />
            <ul class="social">
               <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="static/images/my-photo.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About me</h2>

            <p align="Justify">Hello, I am Dhiaeddine ALIOUI. A telecommunication and IoT engineer, graduate from Eurecom (Sophia Antipolis) and Sup'Com (Tunis), I am looking for a full time job.
A previous internship at Schlumberger allowed me to acquire solid technical skills and to confirm my desire to work in the world of new technologies.
Serious, rigorous and dynamic, I want to use my skills to support your teams.
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact me</h2>
                  <p style="margin:0 0 0 0;">
                  Dhiaeddine ALIOUI<br>
                  </p>
                  <p style="margin:0 0 0 0;line-height:1.3em;">
                  12 rue des Frères Caudron<br>
                  78140 Velizy-Villacoublay, France<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                  <u>Tel Fr:</u> +33 760 734 606<br>
                  <u>Tel Tn:</u> +216 26 236 478<br>
                  </p>
                  <p style="margin:0 0 0 0;">
                  <u>E-mail:</u>  dhiaeddine.alioui@gmail.com
                  </p>

               </div>

               <div class="columns download">
                  <p>
                     <a href="static/cv/CV-Dhiaeddine_ALIOUI-En.pdf" class="button" download><i class="fa fa-download"></i>Download my CV</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                <div>
                  <a href="http://www.eurecom.fr/fr" target="_blank">
                  <img class="image-link" alt="EURECOM logo" style="margin : auto; height:50px;" src="static/images/eurecom-logo.png" title="EURECOM Website"/>
                  </a>
                  <h3>EURECOM <span>&bull;</span> <em style="vertical-align:top;">subsidiary of Institut Mines-Télécom</em></h3>
                </div>

                  <p class="info">Master in Internet of Things (IoT). <span>&bull;</span> <em class="date">September 2018 - September 2020</em></p>

                  <p>
                    Studies: IoT, Clouds, Machine Learning, Mobile networks, Operating systems.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                 <div>
                   <a href="http://www.supcom.mincom.tn/Fr/" target="_blank">
                   <img class="image-link" style="margin : auto; height:40px;" src="static/images/supcom.png" title="SUPCOM Website" />
                 </a>
                   <h3>Higher School of Communications of Tunis</h3>
                 </div>

                  <p class="info">National Diploma in Telecommunication Engineering<span>&bull;</span> <em class="date">September 2016 - September 2018</em></p>
                  <p>Engineering cycle in information technology, double degree with EURECOM.
  <br>Studies: Telecommunications, Computer science, Networks, Embedded systems.

                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                 <div>
                   <a href="http://www.ipeiem.rnu.tn/" target="_blank">
                   <img class="image-link" style="margin : auto; height:50px;" src="static/images/ipeiem.png" title="IPEIEM Website" />
                 </a>
                   <h3>Preparatory Institute for Engineering Studies El Manar </h3>
                 </div>

                  <p class="info">Undergraduate University Studies Diploma<span>&bull;</span> <em class="date">September 2014 - September 2016</em></p>

                  <p>Specialty: Technology</p>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Experience</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                 <div>
                   <a href="https://www.slb.com/" target="_blank">
                   <img class="image-link" style="margin : auto; height:35px;" src="static/images/schlumberger-logo.png" title="Schlumberger Website" />
                 </a>
                   <h3>Schlumberger</h3>
                 </div>
                  <p class="info">End-of-studies internship<span>&bull;</span> <em class="date">March 2020 - August 2020</em></p>

                  <p align="Justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;Create a simulator of a seismic data acquisition system using a
                    Micro-services architecture in order to study the scalability and performance of such
                    architecture versus the used monolithic architecture.
                    The simulator contains micro-services for data collection and processing, a
                    load balancer, a database, multiple REST APIs and a web server.<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Keywords: Python, Nginx, Flask, Shell, PostgreSQL, Google Protobuf, HTML, CSS,
                    JavaScript, NFS, Micro-services, Raspberry Pi 4, Resources monitoring.
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Projects
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Projects</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>Development of an SDN controller supporting PFCP protocol for 5G</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">October 2019 - February 2020</em></p>

                  <p align="justify">
                      &nbsp;&nbsp;&nbsp;&nbsp;Develop an SDN controller with a Southbound API capable of communicating with
                    the User Plan equipment via the PFCP protocol.<br>
                      &nbsp;&nbsp;&nbsp;&nbsp;Keywords : Software Defined Networking (SDN), 5G, Southbound API, Python, Flask,
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>MEC LORA service for IoT</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">March 2019 - Juin 2019</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Deploy an Open Source IoT LORA Server as an MEC Service and Create an API
REST allowing IoT applications to use the deployed service.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Keyword : Mobile Edge Computing, LoRa, MQTT, REST API.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Automated code generator for Arduino</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">October 2018 - February 2019</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;
Adapt an existing Open Source code generator called "TTool" for Arduino boards.
<br>&nbsp;&nbsp;&nbsp;&nbsp;Keywords: TTool, AVATAR, State Transition Diagram, FreeRTOS, Arduino, Threads.
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Course project: Operating systems</h3>
                  <p class="info">EURECOM<span>&bull;</span> <em class="date">October 2018 - February 2019</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Design and program a basketball player robot with Lego-EV3 (team member
winner of the competition)
<br>&nbsp;&nbsp;&nbsp;&nbsp;Keywords: C / C ++, Linux, Compiler, Threads, Mechanical Design.

                  <br><a href="https://os-bball.herokuapp.com/" target="_blank"><u>Project web page</u></a>
                </p>
               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Telecoms systems integration project</h3>
                  <p class="info">SUP'COM<span>&bull;</span> <em class="date">January - Juin 2018</em></p>

                  <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;Design and develop an IoT application based on wireless sensor networks
 for the acquisition and control of agro-environmental data.
<br>&nbsp;&nbsp;&nbsp;&nbsp;Keywords: IoT, C, LINUX, Contiki, Zolertia Z1, Network of sensors.
                </p>
               </div>

            </div> <!-- item end -->
         </div> <!-- main-col end -->

      </div> <!-- End Projects -->


      <!-- Certifications
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Certifications</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item"  style="padding-bottom: 20px;">

              <div class="twelve columns">

                <div>
                   <img style="margin : auto; height:35px;" src="static/images/colorado-boulder-logo.png" title="Google Cloud" />
                   <h3>Introduction to Embedded Systems Software and Development Environments</h3>
                </div>

                 <a href="https://coursera.org/share/930baa38503b3c76a222dc99f00e5fc0" target="_blank">
                 <u><p class="info">Certificate</p></u>
                 </a>

                 <p style="margin-left:10px;margin-bottom:5px;">Acquired skills :</p>
                   <ul style="margin-left:30px;margin-bottom:50px;">
                   <li><span>&bull;</span> Creation of Build System with Make</li>
                   <li><span>&bull;</span> Embedded C Programming</li>
                   </ul>

              </div>

           </div> <!-- item end -->

           <div class="row item"  style="padding-bottom: 20px;">

              <div class="twelve columns">

                <div>
                   <img style="margin : auto; height:35px;" src="static/images/colorado-boulder-logo.png" title="Google Cloud" />
                   <h3>Embedded Software and Hardware Architecture</h3>
                </div>

                 <a href="https://coursera.org/share/3e656c577efe2f0a8dea3687909b9632" target="_blank">
                 <u><p class="info">Certificate</p></u>
                 </a>

                 <p style="margin-left:10px;margin-bottom:5px;">Compétences acquises :</p>
                   <ul style="margin-left:30px;margin-bottom:50px;">
                   <li><span>&bull;</span> Interfacing C-Programs with ARM Core Microcontrollers</li>
                   <li><span>&bull;</span> Manipulating Memory</li>
                   <li><span>&bull;</span> Designing Embedded Data Structures</li>
                   </ul>

              </div>

           </div> <!-- item end -->



            <div class="row item">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png" title="Google Cloud" />
                    <h3>Networking in Google Cloud</h3>
                 </div>

                  <a href="https://coursera.org/share/ed4f6f9b898e277ff8126c865d54f200" target="_blank">
                  <u><p class="info">Specialization certificate</p></u>
                  </a>
                  <h4 style="margin-left:10px;">Specialization courses</h4>
                    <ul style="margin-left:30px;margin-bottom:50px;">
                    <li>Google Cloud Platform Fundamentals: Core Infrastructure <span>&bull;</span>
                      <a href="https://coursera.org/share/2e8d7f452536e47d53aa02da388aa253" target="_blank">
                      <u>Link</u>
                      </a>
                    </li>
                    <li>Networking in Google Cloud: Defining and Implementing Networks <span>&bull;</span>
                      <a href="https://coursera.org/share/f5ea80028fbbf2aa6dbd5ae7c4aab479" target="_blank">
                      <u>Link</u>
                      </a></li>
                    <li>Networking in Google Cloud: Hybrid Connectivity and Network Management <span>&bull; </span>
                      <a href="https://coursera.org/share/8e6c7109b94081909400680deaf77d6b" target="_blank">
                      <u>Link</u>
                      </a></li>

                    </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item"  style="padding-bottom: 20px;">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/google-cloud-logo.png" title="Google Cloud" />
                    <h3>Industrial IoT on Google Cloud Platform</h3>
                 </div>

                  <a href="https://coursera.org/share/d149dc281b111ef3f97059a3590b7ef0" target="_blank">
                  <u><p class="info">Certificate</p></u>
                  </a>

                  <p style="margin-left:10px;margin-bottom:5px;">Used GCP services :</p>
                    <ul style="margin-left:30px;margin-bottom:50px;">
                    <li><span>&bull;</span> Cloud IoT Core</li>
                    <li><span>&bull;</span> Cloud Pub/Sub</li>
                    <li><span>&bull;</span> Google Cloud Storage</li>
                    <li><span>&bull;</span> BigQuery</li>
                    <li><span>&bull;</span> Data Prep</li>
                    <li><span>&bull;</span> Data Studio</li>
                    </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item" style="padding-bottom: 20px;">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/cisco-logo.png" title="CISCO" />
                    <h3>CCNA 1 & CCNA 2</h3>
                 </div>

                 <ul style="margin-left:30px;">
                 <li>CCNA R&S: Introduction to Networks</li>
                 <li>CCNA R&S: Routing and Switching Essentials</li>
                 </ul>

               </div>

            </div> <!-- item end -->


            <div class="row item">

               <div class="twelve columns">

                 <div>
                    <img style="margin : auto; height:35px;" src="static/images/ets-logo.png" title="ETS" />
                    <h3>TOEIC</h3>
                 </div>

                 <ul style="margin-left:30px;">
                 <li>Score : 870/990</li>
                 </ul>

               </div>

            </div> <!-- item end -->


         </div> <!-- main-col end -->

      </div> <!-- End Certifications -->


   </section> <!-- Resume Section End-->


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Contact me.</span></h1>

            </div>

            <div class="ten columns">

              <h4>Contact information</h4>
              <p style="margin:0 0 0 0;">
              Dhiaeddine ALIOUI<br>
              </p>
              <p style="margin:0 0 0 0;line-height:1.3em;">
              12 rue des Frères Caudron<br>
              78140 Velizy-Villacoublay, France<br>
              </p>
              <p style="margin:0 0 0 0;">
              <u>Tel Fr:</u> +33 760 734 606<br>
              <u>Tel Tn:</u> +216 26 236 478<br>
              </p>
              <p style="margin:0 0 0 0;">
              <u>E-mail:</u>  <a href="mailto:dhiaeddine.alioui@gmail.com">dhiaeddine.alioui@gmail.com</a>
              </p>

            </div>

         </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
              <li><a href="https://www.facebook.com/dhiaeddine.alioui" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/dhiaeddine-alioui/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/dhia.alioui/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://github.com/dhiaeddine-alioui" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 CeeVee</li>
               <li>Design by <a href="http://www.styleshout.com/" title="Styleshout" target="_blank">Styleshout</a></li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="static/js/jquery.flexslider.js"></script>
   <script src="static/js/waypoints.js"></script>
   <script src="static/js/jquery.fittext.js"></script>
   <script src="static/js/magnific-popup.js"></script>
   <script src="static/js/init.js"></script>

</body>

</html>
